<div class="media-list col-xs-12">
    {% if medias|length > 0 %}
        {% for media in medias %}
            {{ getListItem(media) }}
        {% endfor %}
    {% else %}
        <p>{{ "lch.media.list.empty"|trans }}</p>
    {% endif %}
</div>