$contrast-color: #e5e5e5;

.media {
  border-radius: 4px;
  border: 1px solid $contrast-color;
  padding: 5px;
  max-width: 200px;
  margin-right: 5px;
  margin-top: 0;
}

.media-modal {
  div[role="tabpanel"] {
    padding: 20px 0;
  }

  .media-list {
    .media {
      &:hover, &.chosen {
        cursor: pointer;
        background-color: $contrast-color;
      }
    }
  }
}