$contrast-color: #e5e5e5;

.media-list-item {
  border-radius: 4px;
  border: 1px solid $contrast-color;
  padding: 5px;
}

.media-modal {
  div[role="tabpanel"] {
    padding: 20px 0;
  }

  .media-list {
    .media-list-item {
      &:hover, &.chosen {
        cursor: pointer;
        background-color: $contrast-color;
      }
    }
  }
}